In [ ]:
# link to tutorial: https://www.datacamp.com/tutorial/python-numpy-tutorial

In [7]:
import numpy as np
# one dimensional array definition
one_d_array = np.array([1,2,3,4],
                      dtype=np.int64)

In [11]:
one_d_array

array([1, 2, 3, 4])

In [15]:
one_d_array.shape

(4,)

In [16]:
# two dimensional array definition
two_d_array = np.array([[1, 2, 3, 4],
                        [5, 6, 7, 8]],
                       dtype=np.int64)

In [17]:
two_d_array

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [18]:
two_d_array.shape

(2, 4)